body, html {
    height: 100%;
    margin: 0;
}

.loading{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('/img/LOGOPLANO_FS.png');
    background-position:  50% 50% ;
    background-repeat:  no-repeat;
    background-color: #45455a;
}

.bgimg {
    background: linear-gradient(-120deg, #00e8f9,#5a88ff,#ff71ac); 
    height: 100%;
    background-position: center;
    background-size: 400% 400%;
    position: relative;
    color: white;
    font-size: 25px;
    animation: cambio 10s ease-in-out infinite;
}

@keyframes cambio{
    0%{
        background-position: 0 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0 50%;
    }
}

.topleft {
    position: absolute;
    top: 25px;
    left: 22px;
}

h1{
    font-size:20px;
}
h2{
    letter-spacing: 4px;
    font-size: 40px;
}

img{
 width: 10%;
 min-width: 40px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.bottomleft p:hover{
    transition-duration: 1s;
    cursor: pointer;
    font-size: 30px;
}
.middle {
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
  }